.UserTable {
    overflow: auto;
    color: #777;
    border-radius: 15px;
    background-color: #eee;
    border: 2px solid #ccc;
    height: 400px;
    width: 500px;
    margin: 50px auto;
    padding: 10px;
}

.UserTable li {
    font-size: 20px;
    list-style: none;
    margin: 5px;
    padding: 10px;
    background-color: #ccc;
}