.navBar {
    height: 80px;
    position: relative;
    background-color: #2c3e50;
}

.mainMenu, .signInMenu, .logoutButton {
    list-style: none;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px
}

.signInMenu {
    right: 200px;
}

.mainMenu {
    left: 200px;
}

.signUp {
    border: white 1px solid;
}

.signIn {
    color: #2c3e50;
    background: white;
    margin:0 20px;
}

.mainMenu li, .signInMenu li {
    display: inline-block;
    box-sizing: border-box;
}

.signInMenu li {
    padding: 14px 20px;
    border-radius: 15px;
    height: 45px;
    transition: 0.4s;
}

.mainMenu li {
    padding:0 20px;
    font-size: 18px;
    font-weight: 300;
}

.logoutButton {
    right:200px;
    border-radius: 15px;
    border: none;
    text-transform: uppercase;
    height: 45px;
    padding: 0 20px;
    color: #2c3e50;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s;
}

.mainMenu li:hover, .signUp:hover {
    color: #aaa;
    border-color: #aaa
}

.signIn:hover, .logoutButton:hover {
    background-color: #ccc;
}

a {
    text-decoration: none;
    color: white;
}