.queueInfoTable {
    overflow: auto;
    height: 400px;
    width: 500px;
    margin: 50px auto;
    padding: 10px;
    color: #777;
    border-radius: 15px;
    background-color: #eee;
    border: 2px solid #ccc;
}

.queueInfoTable table {
    font-size: 18px;
    width: 490px;
    margin: 5px auto;
    padding: 10px;
    background-color: #ccc;
    box-sizing: border-box;
    border: 1px solid #eee;
    border-collapse: collapse;
    text-align: center;
}

.queueInfoTable table td, .queueInfoTable table th {
    border: 4px solid #eee;
    padding: 10px;
}